.resultTable {
    border: 1px solid #61dafb;
    border-bottom: none;
    border-radius: 5px;
    margin-right: auto;
    margin-left: 30%;
}

.resultTableCell {
    padding: 5px 10px;
    color: white;
    border-bottom: 1px solid #61dafb;
    border-right: 1px solid #61dafb;
}

.resultTableCell:nth-last-child(1) {
    border-right: none;
}
