.visualisationDiv {
    max-height: 25vh;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.imageResultTable {
    border: 1px solid #61dafb;
    border-bottom: none;
    border-radius: 5px;
    margin-left: 50px;
}

.results {
    text-align: left;
    max-height: 25vh;
    margin-top: 20px;
    margin-left: 1%;
    width: 70%;
    padding: 20px;
}

.resultCell {
    max-height: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #61dafb;
    width: 33px;
}

.savedImage {
    max-height: 30vh;
}

.tableRow {
    /*padding-bottom: 10px;*/
    /*margin-top: 10px;*/
}